h1 {
    color: white;
    margin: 0;
    &.dark-theme {
        color: red;
    }
}

span.badge {
    margin-left: 12px;
}

a {
    margin: 0 20px;
    text-decoration: none;
}

.cart {
    width: 177px;
    justify-content: center;
}

ul {
    display: flex;
}

.select-theme {
    flex: 100%;
    text-align: right;
}
