<a>
    <h1 #appTitle routerLink="/about" [ngClass]="{'dark-theme': isDarkTheme}"></h1>
</a>
<nav>
    <ul class="nav">
        <li>
            <a  class="button fancy-button"
                [ngClass]="{'dark-theme': isDarkTheme}"
                routerLink="/products-list"
                routerLinkActive="active">
                    Products
            </a>
        </li>
        <li>
            <a  class="button fancy-button"
                [ngClass]="{'dark-theme': isDarkTheme}"
                routerLink="/cart"
                routerLinkActive="active">
                    Cart
            </a>
        </li>
        <li>
            <a  class="button fancy-button"
                [ngClass]="{'dark-theme': isDarkTheme}"
                routerLink="/order"
                routerLinkActive="active">
                    Order
            </a>
        </li>
        <li>
            <a  class="button fancy-button"
                [ngClass]="{'dark-theme': isDarkTheme}"
                routerLink="/admin"
                routerLinkActive="active">
                    Admin
            </a>
        </li>
        <li>
            <a  class="button fancy-button"
                [ngClass]="{'dark-theme': isDarkTheme}"
                routerLink="/login"
                routerLinkActive="active">
                    Login
            </a>
        </li>
        <li>
            <a  class="button fancy-button"
                [ngClass]="{'dark-theme': isDarkTheme}"
                (click)="toggleDarkTheme()">
                Switch to {{isDarkTheme ? 'Light' : 'Dark'}}
            </a>
        </li>
    </ul>

</nav>
<a class="cart button fancy-button" routerLink="/cart" [ngClass]="{'dark-theme': isDarkTheme}">
    <i class="material-icons">shopping_cart</i>
    My Cart
    <span *ngIf="getTotalQuantity(); else emptyCart" class="badge badge-pill badge-success">
        {{ getTotalQuantity() }}
    </span>
</a>
<ng-template #emptyCart>
    <span class="badge badge-pill badge-success">is empty</span>
</ng-template>
