#product-form {
    margin: 20px;
    height: 685px;
}

.form-row {
    margin: 20px 0;
    button {
        margin-left: 20px;
    }
}

.form-row-2 {
    margin: 20px 0;
    button {
        margin-right: 20px;
    }
}
