<div>
    <div>
        <div>Order ID: {{ order.id }}</div>
        <div>Order Date: {{ order.date | date }}</div>
        <div>Total Price: {{ order.total | currency }}</div>
    </div>
    <div>
        <div>Total Quantity: {{ order.totalQuantity }}</div>
        <div>User: {{ order.firstName }} {{ order.lastName }}</div>
        <div>Email: {{ order.email }}</div>
        <div>Phone(s):
            <span *ngFor="let el of order.phones; let last = last">
                {{ el.phone }}{{ !last ? ', ' : '' }}
            </span>
        </div>
        <div>Delivery Address: {{ order.pickup ? 'pickup' : order.deliveryAddress }}</div>

    </div>
</div>
<hr>
