<div class="flex-container">
    <div *ngIf="product.bookImg; else imageDefault" class="flex-item color1">
        <a (click)="onGoToProduct()">
            <img [src]="product.bookImg" alt="Book's cover">
        </a>
    </div>
    <ng-template #imageDefault>
        <div class="flex-item color1">
            <a (click)="onGoToProduct()">
                <img src="https://picsum.photos/381/499" alt="Book's cover">
            </a>
        </div>
    </ng-template>
    <div class="flex-item color1">
        <ul>
            <li><i>Name:</i> {{product.name}}</li>
            <li><i>Author:</i> {{product.author}}</li>
            <li><i>Description:</i> {{product.description}}</li>
            <li><i>Price:</i> {{product.price | currency}} </li>
            <li><i>Category:</i> {{product.category | uppercase}}</li>
            <li [ngClass]="{ 'not-available': !product.availableCount }">
                <i [ngClass]="{ 'not-available': !product.availableCount }">
                    Available for purchasing:
                </i> {{ product.availableCount }}
            </li>
        </ul>

        <div *ngIf="editable; else buyBlock">
            <button (click)="onEditProduct()" color="primary">
                Edit
            </button>
            <button (click)="onDeleteProduct()" color="accent">
                Delete
            </button>
        </div>
    </div>
</div>
<hr>

<ng-template #buyBlock>
    <button
        (click)="onBuyProduct()"
        [disabled]="product.availableCount === 0"
        [ngStyle]="{'font-weight': product.availableCount ? 'bold' : 'initial' }">
            Buy
    </button>
</ng-template>

