<img src="././app/shared/images/Clean%20Code.jpg" alt="Book's cover">
<ul>
    <li>Name: {{product.name}}</li>
    <li>Author: {{product.author}}</li>
    <li>Description: {{product.description}}</li>
    <li>Price: {{product.price}} $</li>
    <li>Category: {{product.category}}</li>
    <li [ngClass]="{ 'not-available': !product.availableCount }">
        Available for purchasing: {{ product.availableCount }}
    </li>
</ul>
<button
    (click)="onBuyProduct()"
    [disabled]="!product.isAvailable()"
    [ngStyle]="{'font-weight': product.availableCount ? 'bold' : 'initial' }">
    Buy
</button>
<hr>
